# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.PocketStrategyTowerDefence.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\user\Documents\Game Design\Year 3\Semester 1\Prototyping\PocketStrategyTowerDefence\PocketStrategyTowerDefence\.idea\.idea.PocketStrategyTowerDefence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
